// gap implementation starting from 0 to 16
$breakpoints: (
  'xs': 360px,
  'sm': 576px,
  'md': 768px,
);

@for $i from 0 through 16 {
  .gap-x-#{$i} {
    column-gap: $i * 4px;
  }

  .gap-y-#{$i} {
    row-gap: $i * 4px;
  }

  .gap-#{$i} {
    column-gap: $i * 4px;
    row-gap: $i * 4px;
  }
}

@each $breakpoint, $value in $breakpoints {
  @media (min-width: $value) {
    @for $i from 0 through 16 {
      .gap-x-#{$breakpoint}-#{$i} {
        column-gap: $i * 4px;
      }

      .gap-y-#{$breakpoint}-#{$i} {
        row-gap: $i * 4px;
      }

      .gap-#{$breakpoint}-#{$i} {
        column-gap: $i * 4px;
        row-gap: $i * 4px;
      }
    }
  }
}

.v-col {
    display: flex;
    flex-direction: column;
}

.v-row {
    display: flex;
    flex-direction: row;
}