<script setup lang="ts">
import { useTheme } from 'vuetify'
import { useField, useForm } from 'vee-validate'
import { Form, Field, ErrorMessage } from 'vee-validate'
import { toTypedSchema } from '@vee-validate/zod'
import * as zod from 'zod'

const theme = useTheme()

function toggleTheme() {
    // theme.global.name.value = theme.global.current.value.dark ? 'lightTheme' : 'dark'
}

// const { handleSubmit, handleReset } = useForm({
//   validationSchema: {
//     name(value: any) {
//       if (value?.length >= 2) return true

//       return 'Name needs to be at least 2 characters.'
//     },
//     phone(value: any) {
//       if (value?.length > 9 && /[0-9-]+/.test(value)) return true

//       return 'Phone number needs to be at least 9 digits.'
//     },
//     email(value: any) {
//       if (/^[a-z.-]+@[a-z.-]+\.[a-z]+$/i.test(value)) return true

//       return 'Must be a valid e-mail.'
//     },
//     select(value: any) {
//       if (value) return true

//       return 'Select an item.'
//     },
//     checkbox(value: any) {
//       if (value === '1') return true

//       return 'Must be checked.'
//     },
//   },
// })
// const name = useField('name')
// const phone = useField('phone')
// const email = useField('email')
// const select = useField('select')
// const checkbox = useField('checkbox')

// const items = ref([
//   'Item 1',
//   'Item 2',
//   'Item 3',
//   'Item 4',
// ])

// const submit = handleSubmit(values => {
//   alert(JSON.stringify(values, null, 2))
// })

const validationSchema = toTypedSchema(
    zod.object({
        email: zod
            .string()
            .nonempty('Email')
            .email({ message: 'Must be a valid email' }),
        password: zod
            .string({ required_error: 'como e amigo' })
            .nonempty('Password')
            .min(8, { message: 'Too short' }),
    })
)

const { handleSubmit, errors } = useForm({
    validationSchema,
})

// const { value: email } = useField('email')
// const { value: password } = useField('password')

const onSubmit = handleSubmit((values) => {
    alert(JSON.stringify(values, null, 2))
})
</script>

<template>
    <v-card title="Formulário">
        <form class="px-md-10 py-md-8 px-4 py-6">
            <v-row>
                <v-col cols="12" md="6">
                    <v-text-field :counter="10" label="Nome" required />
                    <v-text-field :counter="10" label="Sobrenome" required />
                </v-col>
                <v-col>
                    <v-text-field :counter="10" label="Email" required />
                    <v-text-field :counter="10" label="Senha" required />
                </v-col>

                <v-col cols="12">
                    <div class="d-flex justify-end gap-x-4">
                        <v-btn variant="outlined" @click="toggleTheme"
                            >Alterar tema</v-btn
                        >
                        <v-btn type="submit">Enviar</v-btn>
                    </div>
                </v-col>
            </v-row>
        </form>

        <v-row>
            <v-container>
                <Form class="pa-4">
                    <v-text-field
                        name="email"
                        :error-messages="errors.email"
                        type="email"
                    />
                    <v-text-field
                        name="password"
                        :error-messages="errors.password"
                        type="password"
                    />
                    <div class="pt-4">
                        <v-btn type="submit">Submit</v-btn>
                    </div>
                </Form>
            </v-container>
        </v-row>

        <!-- <form @submit.prevent="submit">
      <v-text-field v-model="name.value.value" :counter="10" :error-messages="name.errorMessage.value"
        label="Name"></v-text-field>

      <v-text-field v-model="phone.value.value" :counter="7" :error-messages="phone.errorMessage.value"
        label="Phone Number"></v-text-field>

      <v-text-field v-model="email.value.value" :error-messages="email.errorMessage.value" label="E-mail"></v-text-field>

      <v-select v-model="select.value.value" :items="items" :error-messages="select.errorMessage.value"
        label="Select"></v-select>

      <v-checkbox v-model="checkbox.value.value" :error-messages="checkbox.errorMessage.value" value="1" label="Option"
        type="checkbox"></v-checkbox>

      <v-btn class="me-4" type="submit">
        submit
      </v-btn>

      <v-btn @click="handleReset">
        clear
      </v-btn>
    </form> -->
    </v-card>
</template>
