<script setup lang="ts">
import { onMounted } from 'vue'
import { useLocalStorage } from '@/composables'
import { useTheme } from 'vuetify/lib/framework.mjs'

const { data, setValue } = useLocalStorage('erp-theme')
const theme = useTheme()

function toggleTheme() {
    if (data.value) {
        theme.global.name.value = data.value === 'dark' ? 'lightTheme' : 'dark'
        data.value === 'dark' ? setValue('lightTheme') : setValue('dark')
    }
}
onMounted(() => {
    theme.global.name.value = data.value || 'lightTheme'
    data.value ? setValue(data.value) : setValue('lightTheme')
})
</script>

<template>
    <v-btn color="grey" @click="toggleTheme" icon>
        <v-icon v-if="theme.global.name.value === 'dark'"
            >mdi-white-balance-sunny</v-icon
        >
        <v-icon v-else>mdi-weather-night</v-icon>
    </v-btn>
</template>
