<script setup lang="ts">
import { ref } from 'vue'

const rows = [
    {
        name: 'Frozen Yogurt',
        calories: 21983912,
    },
    {
        name: 'Ice cream sandwich',
        calories: 123123333,
    },
    {
        name: 'Eclair',
        calories: 123123123,
    },
    {
        name: 'Cupcake',
        calories: 123980213,
    },
    {
        name: 'Gingerbread',
        calories: 12398123,
    },
    {
        name: 'Jelly bean',
        calories: 213981283,
    },
    {
        name: 'Lollipop',
        calories: 123872139,
    },
    {
        name: 'Honeycomb',
        calories: 1239871293,
    },
    {
        name: 'Donut',
        calories: 21398323,
    },
    {
        name: 'KitKat',
        calories: 123891237,
    },
]
const headers: any[] = [
    {
        title: 'Funcionário',
        align: 'start',
        sortable: false,
        key: 'name',
    },
    { title: 'Telefone', align: 'end', key: 'calories' },
    { title: 'Cargo', align: 'end', key: 'fat' },
    { title: 'Setor', align: 'end', key: 'carbs' },
    { title: 'Status', align: 'end', key: 'protein' },
    { title: 'Acoes', align: 'end', key: 'iron' },
]
const itemsPerPage = ref(5)
const filter = ref('')
</script>

<template>
    <v-card title="Funcionários">
        <v-row class="px-4" justify="space-between" align="center">
            <v-col cols="12" md="4" lg="3">
                <v-text-field
                    prepend-inner-icon="mdi-magnify"
                    v-model="filter"
                    hide-details
                    label="Pesquisar"
                />
            </v-col>
            <v-col cols="12" md="auto">
                <v-row class="gap-x-4 px-4" justify="end">
                    <v-btn color="grey" variant="text" icon="mdi-printer">
                    </v-btn>
                    <v-btn color="grey" variant="text" icon="mdi-filter">
                    </v-btn>
                </v-row>
            </v-col>
        </v-row>

        <v-data-table
            :headers="headers"
            :search="filter"
            :items="rows"
            item-value="name"
            v-model:items-per-page="itemsPerPage"
        >
            <template v-slot:[`item.name`]="{ item }">
                <td class="py-4">
                    <v-list-item
                        class="text-truncate"
                        :title="item.columns.name"
                        subtitle="example@mail.com"
                        prepend-avatar="https://randomuser.me/api/portraits/women/8.jpg"
                    />
                </td>
            </template>
        </v-data-table>
    </v-card>
</template>
