<script setup lang="ts">
import '@/styles/main.scss'
import logo from '@/components/logo.vue'
import SwitchTheme from './components/switch-theme.vue'
import { ref } from 'vue'
import menu from './menu'

const isOpen = ref(true)
</script>

<template>
    <v-app>
        <v-app-bar elevation="0">
            <div class="d-flex w-100 align-center justify-space-between">
                <div class="px-md-4 px-2">
                    <div class="d-flex align-center">
                        <div class="pr-md-16 d-none d-sm-flex pr-0">
                            <logo></logo>
                        </div>
                        <v-app-bar-nav-icon
                            @click="isOpen = !isOpen"
                            class="ml-md-16 ml-0"
                        />
                    </div>
                </div>

                <div class="px-4 gap-x-2 d-flex">
                    <switch-theme></switch-theme>
                    <v-btn color="grey" icon>
                        <v-icon>mdi-bell</v-icon>
                    </v-btn>
                    <v-avatar color="blue">
                        <span class="text-h5">ER</span>
                    </v-avatar>
                </div>
            </div>
        </v-app-bar>

        <v-navigation-drawer permanent v-model="isOpen" rail>
            <v-list nav>
                <v-list-item
                    v-for="{ name, label, icon } in menu"
                    :key="name"
                    :prepend-icon="icon"
                    ripple
                    :value="name"
                    color="primary"
                >
                    <v-tooltip activator="parent" location="end">
                        {{ label }}
                    </v-tooltip>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-navigation-drawer v-model="isOpen" floating>
            <v-list>
                <v-list-item title="Home" value="home"></v-list-item>
                <v-list-item title="Contacts" value="contacts"></v-list-item>
                <v-list-item title="Settings" value="settings"></v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-main>
            <v-container class="py-md-8 py-6 px-4 px-md-6 bg-background" fluid>
                <router-view />
            </v-container>
        </v-main>
    </v-app>
</template>
